/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10;
  color: #f2c763;
}

h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-4-11 {
  width: 25%;
}
.module {
  font-weight: bold;
  padding: 20px;
  text-align: center;
  color: #f2c763;
  max-height: 120px;
  min-width: 120px;
  background-color: black;
  border-radius: 2px;
 
}

@-webkit-keyframes DC {
  0% {background-color: black; color:#f2c763 }
  100% {background-color: #f2c763; color: black }
 
}

@keyframes DC {
  0% {background-color: black; color:#f2c763 }
  100% {background-color: #f2c763; color: black }
 
  
}

.module:hover {
  background-color: black;
  cursor: pointer;
  color: #f2c763;
   -webkit-animation-name: BP; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: DC;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
